[Unit]
Description=Server Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/srv/server
ExecStart=/bin/bash /etc/server/scripts/init.sh

[Install]
WantedBy=multi-user.target